<h1>The list of users</h1>
<div align="right">
<%=link_to 'Create new User' , new_user_path%>
</div>
<table class="table">
    <tr>
      <th>
         Name
      </th>  
      <th>
         Email
      </th>  
      <th>
         Role
      </th>
      <th colspan="3">
        Actions
      </th>    
    </tr>
    <%@users.each do |user|%>
      <tr>
        <%if user.username!="Admin"%>
          <td><%=user.username%></td>
          <td><%=user.email%></td>
          <td><%=user.rolename%></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Show', user_path(user) %></td>
          <td><%= link_to 'Destroy', user_path(user) , method: :delete , data:{confirm:"are you sure?"} %></td>
        <%end%>
      </tr>
    <%end%>
</table>
<div class="pagination">
  <%= paginate @users%>
</div>