<h1>Showing selected User</h1>
<% if @user.avatar.attached? %>
<div class="avatar">
<%= image_tag @user.avatar%>
</div>
<%end%>
<p>
    Name:<%= @user.username%>

</p>
<p>
    Email:<%= @user.email%>

</p>
<p>
    Role:<%= @role%>
</p>
<%if current_user.top_management?%>
<%= link_to 'Back to all Users', users_path %>
<%end%>
<%if current_user%>
<%= link_to 'Click here to edit profile', edit_user_path(current_user) %>
<%end%>