<div class="split left">
  <div class="show-box">
    <p>
      Name: <%= @project.name.titleize%>
    </p>
    <p>
      Client's Name: <%= @project.client.titleize%>
    </p>
    <p>
      Start Date: <%= @project.start_date.strftime("%d/%m/%Y") %>
    </p>

    <p>
      Expected Deadline Date: <%= @project.expected_target_date.strftime("%d/%m/%Y") %>
    </p>

    <p>
      Project Users:<%@roles.each do|r|%>
        <br>
        &nbsp&nbsp&nbsp&nbsp<%= r%>:
        <%@users_list[r].each do |user|%>
          <%=link_to user.username ,user_path(user)%>
        <%end%>
      <%end%>
      <br>
    </p>
    <% code_climate_class = @code_climate_error ? 'color: red' : 'color: green' %>
    <p style = "<%= code_climate_class%>">Code Quality Badge:
    <% if !@image_url.nil?%>      
      <%= image_tag @image_url %>
    <%end%>
    <% if !@code_climate_error.blank?%>
      <%= @code_climate_error%>
    <%end%>
    </p>
    <% if !@repos_list.nil?%>
      <p class="label">GitHub info:</p>
      <ul style="list-style-type:none;">
        <% @repos_list.each do |r| %>
          <li><a href=<%=r.link%>><%=r.link%></a></li>
          <%#= link_to h(r),r%>
        <%end%>
      </ul>
    <%end%>
    <br>
  <%#= link_to 'Back to all projects', projects_path %>
  </div>
</div>
<% pt_card_class = @pt_error ? 'border-danger' : 'border-success' %>
<div class="split right">
  <div class="card <%= pt_card_class %>" style="width: 90%;">
    <div class="card-body">
      <h5 class="card-title">Pivotal Tracker Bug Report</h5>
      <% if @project.pt_token %>
        <div class="pie-chart">
          <% if @pt_error%>
            <p class="card-text"><%= @pt_error %></p>
          <%else%>
            <%= pie_chart(@bugs) %>
          <%end%>
        </div> 
      <%end%>
    </div>
  </div>
  <div align="left">
    <%= render 'chat' %>
  </div>
</div>
<!-- javascript for channel -->
<script type="text/javascript">
  (
    function() {
  App.cable.subscriptions.create({
    channel: "ProjectChannel",
    project_id: <%= @project.id %>
  }, {
    connected: function() {},
    disconnected: function() {},
    received: function(data) {
      $('#message_body').val("");
      $('#message-container-project').append(data.message_sent);
      $("#message-container-project").scrollTop($("#message-container-project")[0].scrollHeight);
      
    }
  });

}).call(this);
  function openForm() {
  document.getElementById('chat-button').style.display = "none";
  document.getElementById("myForm").style.display = "block";
}
function closeForm() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById('chat-button').style.display = "block";
}
</script>

<!-- SELECT *
FROM users
FULL OUTER JOIN project_users ON users.id=project_users.user_id
WHERE users.id NOT IN
    (SELECT distinct(user_id)
     FROM project_users
     WHERE project_id=2) -->

