<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "KT", root_path,class:"navbar-brand", id:"logo"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Log in</a> -->
        <% if session[:user_id]%>
          <%= link_to "Projects", projects_path, class:"nav-link"%>
        <%end%>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Log in</a> -->
        <% if session[:user_id] && @role == "Top Management"%>
        <%= link_to "Users", users_path, class:"nav-link"%>
        <%end%>
      </li>
      <li class="nav-item">
        <%if session[:user_id] && @role == "Admin"%>
            <%= link_to "Role", roles_path, class:"nav-link"%>
        <%end%>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto left-link">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        <%= link_to "About", welcome_about_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Log in</a> -->
        <% if session[:user_id]%>
        <%= link_to "Logout", logout_path, class:"nav-link"%>
        <% else %>
        <%= link_to "Login", login_path, class:"nav-link"%>
        <%end%>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
  </div>
</nav>